body {
    background: #d2eaef;
}

.SelfInfo {
    margin: 20px auto;
    background-color: #fff;
    padding: 50px 0px;
}

    .SelfInfo > .form-group {
        margin: 0px 5px 0px 5px;
    }

.Works {
}

.Projects {
}

.Educations {
}

.Skills {
}

    .Skills li {
        display: inline-block;
        border: 1px solid #46b8da;
        background: #5bc0de;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }

.SelfAssessment {
}
